body {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  width: 100%;
}

.left {
  height: 100vh;
  width: 33.333333%;
  background-size: cover;
  background-position: center;
  background-image: url("../img/floating-acc-elements.jpg");
}

.right-holder {
  position: relative;
  width: 66.666667%;
}

.right {
  position: absolute;
  right: 0px;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 2.5rem;
  border-start-start-radius: 50px;
  border-end-start-radius: 50px;
  width: 110%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.login-holder {
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-holder h1 {
  margin: 1.25rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
  padding-top: 1.75rem;
  padding-left: 1rem;
}

/* input[type="text"],.login-holder input[type="password"]{
    @apply w-9/12 p-3 rounded-md ;
    border-bottom: 3px solid rgb(29, 125, 208);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
} */

input[type="submit"] {
  margin-right: 1.75rem;
  cursor: pointer;
  place-self: end;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(21 94 117 / var(--tw-bg-opacity));
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  justify-self: end;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.input-group {
  margin-top: 30px;
  width: 100%;
  font-size: 1.25rem;
  position: relative;
  --primary: #2196f3;
  margin-left: 50px;
}

input {
  width: 100%;
  all: unset;
  color: black;
  border: 1px solid transparent;
  padding: 1rem;
  border-radius: 16px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #040404;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus {
  border: 1px solid var(--primary);
}

input:is(:focus, :valid) ~ label {
  transform: translateY(-120%);
  background-color: #1a1a1a;
  padding-inline: 0.6rem;
  color: var(--primary);
}